[submodule ".config/xmonad/xmonad-contrib"]
	path = .config/xmonad/xmonad-contrib
	url = https://github.com/xmonad/xmonad-contrib
[submodule ".config/xmonad/xmonad"]
	path = .config/xmonad/xmonad
	url = https://github.com/xmonad/xmonad
[submodule ".config/dwl"]
	path = .config/dwl
	url = git@github.com:dysthesis/dwl.git
[submodule ".config/emacs"]
	path = .config/emacs
	url = git@github.com:dysthesis/emacs.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:dysthesis/poincare.git
