[user]
	email = antheoraviel@protonmail.com
	name = Dysthesis

[commit]
	;;gpgsign = true

[diff]
    external = difft

[core]
    pager = delta

[include]
    path = $HOME/.local/share/delta/themes/catppuccin.gitconfig

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    features = catppuccin-mocha

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
