# Exclude all SQLite databases and their temporary files in any subdirectory
**.sqlite
**.sqlite-*

# Exclude caches and temporary files in any subdirectory
cache2/
storage/
safebrowsing/
jumpListCache/
crashes/
**.parentlock
**lock
**.lock

# Exclude bookmark backups
bookmarkbackups/

# Exclude session backups
sessionstore-backups/

# Exclude security-related transient data
**.bin

# Exclude certificate database
cert9.db

# Exclude data reporting
datareporting/

# Exclude crash dumps
minidumps/

# Exclude sync logs
weave/logs/

# Exclude images and icons
**.png
**.svg

# Exclude extension installation files
**.xpi

# Exclude Arkenfox updater scripts
updater.bat
!updater.sh

# Include necessary configuration files
!prefs.js
!user.js
!chrome/
!handlers.json
!extensions/
!search.json.mozlz4
!key4.db

# Exclude login data
logins.json
logins-backup.json
key4.db

# Include user-defined scripts and overrides
!user-overrides.js
!userjs_backups/

# Exclude specific files related to Arkenfox setup (if not needed)
_config.yml
LICENSE.txt
README.md
**.txt

# Exclude non-essential json files
broadcast-listeners.json
compatibility.ini
enumerate_devices.txt
notificationstore.json
pkcs11.txt
serviceworker.txt
sessionCheckpoints.json
shield-preference-experiments.json
targeting.snapshot.json
times.json
